
.contact-us {
  padding: 50px 0;
  background: #1B4242;
  color: #fff;
  text-align: center;

  h1 {
    padding-right: 95px;
    font-size: 36px;
    margin-bottom: 40px;
    color: #ffcc00;
  }

  .container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-right: 130px;
  }
}

