<div class="game-cards-section"  src="game_bg.jpeg">
    <h2 class="section-title">Explore Our Exciting Games</h2>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 game-card"> <!--*ngFor="let game of games"> -->
          <div class="card">
            <img src="fifa.jpg" alt="PUBG" class="card-img-top">
            <!-- <div class="card-body"> -->
              <h5 class="card-title">FIFA 19</h5>
              <!-- <p class="card-text">Details</p> -->
              <p class="card-text">A football simulation game featuring realistic gameplay and enhanced modes like Career and Ultimate Team</p>
              <a href="game-page.html" class="download-btn">Download Now</a>
            <!-- </div> -->
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 game-card"> <!--*ngFor="let game of games"> -->
            <div class="card">
              <img src="lol.jpg" alt="Game1" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">LEAGUE OF LEGENDS</h5>
                <!-- <p class="card-text">Details</p> -->
                <p class="card-text">A multiplayer battle arena game where players control champions to compete in strategic 5v5 matches</p>
                <a href="game-page.html" class="download-btn">Download Now</a>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 game-card"> <!--*ngFor="let game of games"> -->
          <div class="card">
            <img src="minecraft.jpg" alt="Game1" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">MINECRAFT</h5>
              <!-- <p class="card-text">Details</p> -->
              <p class="card-text">A sandbox game where players explore, build & survive in a procedurally generated world with limitless creativity</p>
              <a href="game-page.html" class="download-btn">Download Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 game-card"> <!--*ngFor="let game of games"> -->
            <div class="card">
              <img src="gta5.jpg" alt="Game1" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">GTA 5</h5>
                <!-- <p class="card-text">Details</p> -->
                <p class="card-text">An action-adventure game featuring a vast world, immersive storylines, and endless gameplay possibilities</p>
                <a href="game-page.html" class="download-btn">Download Now</a>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 game-card"> <!--*ngFor="let game of games"> -->
          <div class="card">
            <img src="fortnite.jpeg" alt="Game1" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">FORTNITE</h5>
              <!-- <p class="card-text">Details</p> -->
              <p class="card-text">A battle royale game <br>with fast-paced shooting, building mechanics, and a vibrant ever-evolving world</p>
              <a href="game-page.html" class="download-btn">Download Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 game-card"> <!--*ngFor="let game of games"> -->
            <div class="card">
              <img src="pubg.jpg" alt="Game1" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">PUBG</h5>
                <!-- <p class="card-text">Details</p> -->
                <p class="card-text">A battle royale shooting game where players compete to be the last one standing on a shrinkning map</p>
                <a href="game-page.html" class="download-btn">Download Now</a>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 game-card"> <!--*ngFor="let game of games"> -->
          <div class="card">
            <img src="valorant.jpeg" alt="Game1" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">VALORANT</h5>
              <!-- <p class="card-text">Details</p> -->
              <p class="card-text">A first-person shooting game featuring unique agents with special abilities and strategic team-based gameplay</p>
              <a href="game-page.html" class="download-btn">Download Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 game-card"> <!--*ngFor="let game of games"> -->
            <div class="card">
              <img src="tekken8.jpg" alt="Game1" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">TEKKEN 8</h5>
                <!-- <p class="card-text">Details</p> -->
                <p class="card-text">A fighting game featuring intense one-on-one combat, advanced mechanics, and a rich roster of iconic characters</p>
                <a href="game-page.html" class="download-btn">Download Now</a>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 game-card"> <!--*ngFor="let game of games"> -->
          <div class="card">
            <img src="cod.jpg" alt="Game1" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">CALL OF DUTY</h5>
              <!-- <p class="card-text">Details</p> -->
              <p class="card-text">A first-person shooting game offering intense military combat and fast-paced multiplayer action</p>
              <a href="game-page.html" class="download-btn">Download Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 game-card"> <!--*ngFor="let game of games"> -->
            <div class="card">
              <img src="csgo.jpeg" alt="Game1" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">COUNTER STRIKE2</h5>
                <!-- <p class="card-text">Details</p> -->
                <p class="card-text">A shooting game featuring team-based gameplay, realistic gun mechanics & multiplayer modes</p>
                <a href="game-page.html" class="download-btn">Download Now</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  