<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container_nav">
      <!-- Brand Logo -->
      <a class="navbar-brand fw-bold" routerLink="/"><img src="logo_w_crop.png" alt=""></a>
  
      <!-- Navbar Toggle Button for Small Screens -->
      <!-- <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button> -->
  
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
            
          
          
          <!-- <div class="filters">
            <select class="filter-option">
             <option value="">All Categories</option>
             <option value="category1">Action</option>
             <option value="category2">Adventure</option>
             <option value="category3">Strategy</option>
             <option value="category3">Simulation</option>
             <option value="category3">Sports & Racing</option>
             <option value="category3">Fighting</option>
             <option value="category3">Horror</option>
             <option value="category3">Puzzle</option>
           </select>
         </div> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/classifier" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/report" routerLinkActive="active">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/report" routerLinkActive="active">Subsciption Plans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/responsible-gaming" routerLinkActive="active">Contact Us</a>
          </li>
          <div class="srch">
          <input type="text" class="search-bar " placeholder="Search..." (keyup.enter)="performSearch()" > <!--[(ngModel)]="searchQuery"> -->
            <!-- <div class="search-icon"><i class="fa-solid fa-magnifying-glass " (click)="performSearch()"></i></div> -->
            <button class="search-btn"><i class="fa-solid fa-magnifying-glass " (click)="performSearch()"></i></button>
          </div>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/education" routerLinkActive="active">Report Abuse</a>
          </li> -->
          <!-- <li> -->
            <!-- <div class="search-container"> -->
              
            <!-- </div> -->
          <!-- </li> -->
              
                
            <button class="custom-login-btn">Login/Register</button>         
        </ul>
    </div>
  </div>
</nav>
  