

  .search-container {
    position: relative;
    display: inline-block;
    width: 100%;  // Adjust width as needed
  
    .search-bar {
      width: 100%;
      padding: 12px 45px 12px 20px;  // Extra right padding for the icon
      border: 2px solid #4CAF50;
      // border-radius: 25px;
      font-size: 16px;
      outline: none;
      transition: all 0.3s ease-in-out;
  
      &:focus {
        border-color: #3e8e41;
        box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
      }
    }
  
    // .search-icon {
    //   position: absolute;
    //   background-color: yellow;
    //   padding: 10px;
    //   top: 50%;
    //   right: 15px;
    //   transform: translateY(-50%);
    //   font-size: 18px;
    //   color: #4CAF50;
    //   cursor: pointer;
  
    //   &:hover {
    //     color: #3e8e41;
    //   }
    // }


    .search-icon {
      position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: yellow;  // Yellow background for the icon
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
      i {
        font-size: 18px;
        color: #4CAF50;
      }
  
      &:hover {
        background-color: #FFD700;  // Slightly darker yellow on hover
      }
  }

  
} 